# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea/*
target/

# Package Files #
*.jar
*.war
*.ear
*.iml
*.log
*.zip
/ldms-dao/src/main/resources/star-jdbc.properties
*.txt
*.bak
.idea/
ldms-admin/src/main/java/cn/cug/laboratory/controller/student/
ldms-dao/src/main/resources/cn/cug/laboratory/mapper/wrapper/
