<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cug.laboratory.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.cug.laboratory.model.persistent.User" >
    <id column="username" property="username" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="auth" property="auth" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    username, password, auth
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where username = #{username,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.cug.laboratory.model.persistent.User" >
    insert into user (username, password, auth
      )
    values (#{username,jdbcType=CHAR}, #{password,jdbcType=CHAR}, #{auth,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cug.laboratory.model.persistent.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="auth != null" >
        auth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="auth != null" >
        #{auth,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cug.laboratory.model.persistent.User" >
    update user
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="auth != null" >
        auth = #{auth,jdbcType=CHAR},
      </if>
    </set>
    where username = #{username,jdbcType=CHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.cug.laboratory.model.persistent.User" >
    update user
    set password = #{password,jdbcType=CHAR},
      auth = #{auth,jdbcType=CHAR}
    where username = #{username,jdbcType=CHAR}
  </update>
</mapper>