<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cug.laboratory.mapper.extend.DeviceExtendMapper" >
  <resultMap id="BaseResultMap" type="cn.cug.laboratory.model.persistent.Device" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="lab_id" property="labId" jdbcType="CHAR" />
    <result column="tea_id" property="teaId" jdbcType="CHAR" />
    <result column="dev_id" property="devId" jdbcType="CHAR" />
    <result column="sub_id" property="subId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="english_name" property="englishName" jdbcType="CHAR" />
    <result column="model_id" property="modelId" jdbcType="CHAR" />
    <result column="brand" property="brand" jdbcType="CHAR" />
    <result column="subject_type" property="subjectType" jdbcType="CHAR" />
    <result column="purchase_time" property="purchaseTime" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="amount_used" property="amountUsed" jdbcType="INTEGER" />
    <result column="per_price" property="perPrice" jdbcType="REAL" />
    <result column="sum_price" property="sumPrice" jdbcType="REAL" />
    <result column="price_type" property="priceType" jdbcType="CHAR" />
    <result column="bill" property="bill" jdbcType="CHAR" />
    <result column="unit_of_measurement" property="unitOfMeasurement" jdbcType="CHAR" />
    <result column="fund_from" property="fundFrom" jdbcType="CHAR" />
    <result column="property_from" property="propertyFrom" jdbcType="CHAR" />
    <result column="account_type" property="accountType" jdbcType="CHAR" />
    <result column="purchase_type" property="purchaseType" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.cug.laboratory.model.persistent.Device" extends="BaseResultMap" >
    <result column="ps" property="ps" jdbcType="LONGVARCHAR" />
  </resultMap>


  <sql id="Base_Column_List">
    device.id 'id',
    lab_id 'labId',
    tea_id 'teaId',
    devtype_id 'devTypeId',
    sub_id 'subId',
    device.name 'name',
    english_name 'englishName',
    model_id 'modelId',
    brand 'brand',
    purchase_time 'purchaseTime',
    amount 'amount',
    amount_used 'amountUsed',
    per_price 'perPrice',
    sum_price 'sumPrice',
    price_type 'priceType',
    bill 'bill',
    unit_of_measurement 'unitOfMeasurement',
    fund_from 'foundFrom',
    property_from 'propertyFrom',
    account_type 'accountType',
    purchase_type 'purchaseType',
    teacher.name 'teacherName',
    lab.name 'labName',
    device_type.name 'deviceTypeName',
    subject.name 'subjectName'
  </sql>
  <sql id="Blob_Column_List">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    device,device_type,lab,teacher,subject
    <where></where>

  </sql>

  <sql id="basic_user_query_lists">
    <if test="de.id != null and de.id != ''">
      AND device.id=#{de.id}
    </if>
    <if test="de.name != null and de.name != ''">
      AND device.name = #{de.name}
    </if>
    AND 1 = 1
    AND lab.id = device.lab_id
    AND teacher.id = device.tea_id
    AND device_type.id = device.devtype_id
    AND subject.id = device.sub_id
  </sql>

  <select id="getPageData" resultType="cn.cug.laboratory.model.extend.DeviceExtend">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    device,
    lab,
    teacher,
    device_type,
    subject
    <where>
      <include refid="basic_user_query_lists"></include>
    </where>
    limit #{startPosition},#{offset}
  </select>

  <select id="getTotalRecords" resultType="java.lang.Integer">
    SELECT count(*)
    FROM (
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    device,
    lab,
    teacher,
    device_type,
    subject
    <where>
      <include refid="basic_user_query_lists"></include>
    </where>
    )AS temptable;
  </select>

  <select id="getAll" resultMap="ResultMapWithBLOBs">
    SELECT * from device;
  </select>

  <select id="queryLeftById" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT amount-amount_used from device WHERE id=#{id,jdbcType=CHAR};
  </select>


</mapper>