body {
     background-color: #fff;
     min-height: 949px !important;
 }
@media (min-width: 768px) {
    body {

    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 15px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.form-password,
.form-username,
.form-textarea{
    width: 100%;
    height: 50px;
    border: 2px solid #cacaca;
    font-size: 18px;
}

.form-textarea{
    resize: none;
}
.form-username:focus,.form-password:focus{
    box-shadow: #c7c7c7 3px 3px 3px;
}

.modal-body{
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}

.btn-single{
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
}

.single-size{
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #fff;
}

.single-size-default{
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.single-width{
    width: 100%;
}

.btn-single:hover,
.btn-primary:hover,
.label:hover,
.current-item:hover{
    background-color: rgba(74, 175, 81, 0.76);
}

.message{
    display: none;
}

.btn-double{
    width: 20%;
    height: 40px;
}

.btn-row{
    margin-top: 10px;
}

.btn-sm{
    margin-right: 10px;
}

h4,
.table,
th,
.page-nav,
.modal-title,
.btn-row,
.form-password,
.form-password-confirm,
.form-username,
.form-name,
.form-id,
.form-academy,
.form-major,
.form-classId,
.label,
.btn-group,
.side-nav,
.panel-footer{
    text-align: center;
}

.btn-primary,
.btn-single,
.btn-active,
.current-item{
    background-color: #3dac4b;
}

.container-fluid{
    padding: 10px 80px;
}

.form-control,.md-high{
    height: 46px;
    font-size: 18px;
}

.single-height{
    height:46px;
}

.page-nav .active>a,
.page-nav .active>a:hover,
.btn-active,
.btn-single:hover,
.btn-primary:hover,
.label:hover,
.side-nav > li > ul > li > a:hover,
.side-nav .active>a{
    color: #d4ffde;
}

.form-item,
.row{
    margin-bottom: 15px;
    font-family: 微软雅黑;
    font-size: 16px;
}

ul{
    list-style: none;
}

.dropdown-menu{
    padding:10px;
}

span,
.label,
a{
    cursor: pointer;
}

.label{
    margin: 0px 5px;
}

.label-default{
    height: 35px;
    font-size: 14px;
    margin: 3px 3px;
    display: inline-block;
    line-height: 35px;
}

.btn-triple{
    width: 33%;
    height: 46px;
}

.collapse{
    background-color: #3c3c3c;
}

.active{
    background-color: #fcf6ff;
}

.btn-group,tr td,li a,.panel-title,span{
    font-family: 微软雅黑;
}

.panel-title{
    font-size: 24px;
    text-align: center;
}

.delete-user span{
    font-family: 幼圆;
}
.delete-user .delete-teacher-name,
.delete-user .delete-student-name{
    font-size: 24px;
    color: red;
}

.dropdown-down:hover{
    padding-bottom: 100px;
}
.dropdown-menu li a:hover{
    color: blue;
}
.dropdown-menu li a{
    display: block;
    text-align: center;
}

.alert{
    font-size: 20px;
    color: #ff96ba;
}

.form-control{
    font-family: 微软雅黑;
}